*{
  font-family: 'Open Sans', sans-serif;
}

.main-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  #e1e1e1;
}

.inner-container{
  height: 90%;
  width: 80%;
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sentence-and-instructions{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

.sentence{
  margin-top: 3rem;
  font-size: 3rem;
  color: rgb(85, 85, 208);
}

.instructions{
  margin-top: 2rem;
  font-size: 1.5rem;
}



