*{
  font-family: 'Open Sans', sans-serif;
}

.main-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  #e1e1e1;
}

.inner-container{
  height: 90%;
  width: 80%;
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.sentence-and-instructions{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

.sentence{
  margin: 1.5rem;
  font-size: 3rem;
  color: rgb(85, 85, 208);
}

.instructions{
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.score {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
}

.guess-container{
  width: 100%;
  padding: 10px;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.word{
  display: flex;
  width: 100%;
  height: auto;
  flex: 1;
}

.letter{
  background: #e1e1e1;
  margin: 5px;
  width: 50%;
  text-align: center;
  border: none;
  color: white;
  font-size: 1rem;
}

.space{
  background:  #ffb74d;
  margin: 5px;
  width: 50%;
  text-align: center;
  border: none;
}

.correct{
  background: #4caf50;
  margin: 5px;
  width: 50%;
  text-align: center;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.hidden-button{
  visibility: hidden;
}

.show-button{
  visibility: visible;
  border: none;
  width: 4rem;
  height: 2rem;
  padding: 5px;
  background: #388e3c;
  color: white;
}

